<a href="https://colab.research.google.com/github/israelIsiaka/web_scrapping/blob/main/web_scrapping_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This is a simple web scrapping assignment

I will be scrapping From https://www.scrapethissite.com/pages/simple/

After scrapping I will be displaying the countries, captial , population and area.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Target URL
url = "https://www.scrapethissite.com/pages/simple/"

# Send GET request
response = requests.get(url)
response.raise_for_status()  # Ensure we got a valid response

# Parse HTML
soup = BeautifulSoup(response.text, "html.parser")

# Find all country containers
countries = soup.find_all("div", class_="country")

# Prepare storage
data = []

# Loop through each country block
for country in countries:
    name = country.find("h3", class_="country-name").text.strip()
    capital = country.find("span", class_="country-capital").text.strip()
    population = country.find("span", class_="country-population").text.strip()
    area = country.find("span", class_="country-area").text.strip()

    data.append({
        "Country": name,
        "Capital": capital,
        "Population": population,
        "Area (km²)": area
    })

# Convert to DataFrame
df = pd.DataFrame(data)

# Display first 10 rows
print(df.head(100))

                              Country           Capital Population Area (km²)
0                             Andorra  Andorra la Vella      84000      468.0
1                United Arab Emirates         Abu Dhabi    4975593    82880.0
2                         Afghanistan             Kabul   29121286   647500.0
3                 Antigua and Barbuda        St. John's      86754      443.0
4                            Anguilla        The Valley      13254      102.0
..                                ...               ...        ...        ...
95  Heard Island and McDonald Islands              None          0      412.0
96                           Honduras       Tegucigalpa    7989415   112090.0
97                            Croatia            Zagreb    4491000    56542.0
98                              Haiti    Port-au-Prince    9648924    27750.0
99                            Hungary          Budapest    9982000    93030.0

[100 rows x 4 columns]

In [5]:
print(df.describe())

        Country Capital Population Area (km²)
count       250     250        250        250
unique      250     242        247        246
top     Andorra    None          0       21.0
freq          1       8          4          3

In [10]:
df.groupby('Area (km²)').describe()

           Country                                          Capital         \
             count unique                          top freq   count unique
Area (km²)
0.0              1      1  U.S. Minor Outlying Islands    1       1      1
0.44             1      1                 Vatican City    1       1      1
1.4E7            1      1                   Antarctica    1       1      1
1.71E7           1      1                       Russia    1       1      1
1.95             1      1                       Monaco    1       1      1
...            ...    ...                          ...  ...     ...    ...
945087.0         1      1                     Tanzania    1       1      1
9596960.0        1      1                        China    1       1      1
9629091.0        1      1                United States    1       1      1
98480.0          1      1                  South Korea    1       1      1
9984670.0        1      1                       Canada    1       1      1

                              Population
                     top freq      count unique         top freq
Area (km²)
0.0                 None    1          1      1           0    1
0.44        Vatican City    1          1      1         921    1
1.4E7               None    1          1      1           0    1
1.71E7            Moscow    1          1      1   140702000    1
1.95              Monaco    1          1      1       32965    1
...                  ...  ...        ...    ...         ...  ...
945087.0          Dodoma    1          1      1    41892895    1
9596960.0        Beijing    1          1      1  1330044000    1
9629091.0     Washington    1          1      1   310232863    1
98480.0            Seoul    1          1      1    48422644    1
9984670.0         Ottawa    1          1      1    33679000    1

[246 rows x 12 columns]